body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #ef5350;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

/* Para estilizar o container de Pokemons do site */
#pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

/* Para estilizar os cards de pokemon */
.pokemon-card {
    width: 300px;
    padding: 20px;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.pokemon-card p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.6;
}

/* Para estilizar os mecanismos de pesquisa */
#search-bar {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-right: 0.5rem;
    width: 280px;
}

#search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #ef5350;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #d32f2f;
}